.App {
    height: 100vh;
    width: 100vh;
    padding-left: 20%;
    padding-top: 80px;
}

.fav-icons {
    margin-right: 20px;
    margin-left: 20px;
}

.single-component {
    display: flex;
    align-items: center;
}

.child-component{
    margin-left: 80px;
}